#wall { font-size: 10px!important; }
/*
ul { list-style: none; margin: 0; padding: 0; }
*/

#wall { overflow: hidden; position: relative; margin: 0 auto; }
#grid { overflow: auto; }

#grid ul { width: 100%!important; position: relative; float: left; }
#grid ul li { float: left; border: 1px solid ; background-color: #f1f1f1; }
#grid ul li img { cursor: pointer; }
#grid ul li img.blank { display: none; }

#sidebar, #dialog, #loading, #fullsize { display: none; }
#sidebar, #panel, #dialog, #loading, #fullsize { position: absolute; }

#panel { bottom: 0; z-index: 20; padding: 4px; }
#panel li { float: left; padding: 4px; margin: 0 4px 0 0; cursor: pointer; }
#panel li:first-child { padding-top: 0px; margin-right: 1px; padding-right: 0px; }
#panel input { width: 250px; height: 24px; margin: 0; padding: 0; }

#sidebar { z-index: 10 }
#sidebar div.ui-dialog-titlebar { margin-bottom: 8px; }
#sidebar div.sidebar_image img { padding-bottom: 8px; border-bottom: 1px dotted #a1a1a1; margin-bottom: 8px; }
#sidebar div.sidebar_info { overflow-y: auto; }
#sidebar ul { margin-left: 0em; margin-bottom: 0.25em; padding-left: 1.0em; }
#sidebar li { padding: 2px; margin-bottom: 4px; line-height: 1.2em; }
#sidebar p { margin-bottom: 4px; line-height: 1.2em;}
#sidebar img { cursor: pointer; }
#sidebar #objname { cursor: pointer; }
#sidebar #objname:hover { text-decoration: underline; }

#dialog p, #loading p { margin: 8px; }
#fullsize { width: auto!important; z-index: 30; }
#fullsize img { padding: 8px; }

/*
#browse h3 { display: none; }
#browse ul, #browse li { float: left; padding: 0; margin: 0; }
#browse a { text-decoration: none; }
#browse a:hover { text-decoration: underline; }
*/

.object-title { line-height: 1.2em; }
